@{
    ViewData["Title"] = "AssignedUser";
}
@model AssignedRoleDTO

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Rol Yönetimi</h4>
            </div>
            <form asp-action="AssignedUser">
                <input type="hidden" asp-for="RoleName" />
                <input type="hidden" asp-for="Role" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Rolede Olmayan Kullanılar <span class="badge">@Model.RoleName</span></h5>
                            <table class="table table-hover table-sm">
                                @if (Model.HasNotRole.Count() == 0)
                                {
                                    <tr>
                                        <td>Bütün kullanıcılar bu role sahip</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.HasNotRole)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>
                                                <input type="checkbox" value="@item.Id" name="AddIds" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <h5>Roldeki Kullanılar <span class="badge">@Model.RoleName</span></h5>
                            <table class="table table-hover table-sm">
                                @if (Model.HasRole.Count() == 0)
                                {
                                    <tr>
                                        <td>Bu rolde hiç bir kullanıcı yok!</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.HasRole)
                                    {
                                        <tr>
                                            <td>@item.UserName</td>
                                            <td>
                                                <input type="checkbox" value="@item.Id" name="DeleteIds" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div>
                        <input type="submit" value="Kaydet" class="btn btn-outline-success btn-sm float-end" />
                        <a asp-action="Index" class="btn btn-outline-info btn-sm float-start">Geri Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
