@{
    ViewData["Title"] = "Index";
}
@model List<GetCategoryVM>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h1>Kategori Listesi</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered mt-3 p-2">
                <tr>
                    <th>Id</th>
                    <th>Kategori Adı</th>
                    <th>Eklenme Tarihi</th>
                    <th>Güncellenme Tarihi</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.CreatedDate</td>
                        @{
                            if (item.UpdatedDate is not null)
                            {
                                <td>@item.UpdatedDate</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                        }
                        <td>
                            <a asp-controller="Categories" asp-action="UpdateCategory" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-outline-warning">Güncelle</a>
                        </td>
                        <td>
                            @{
                                var actionName = "DeleteCategory";
                                var controllerName = "Categories";
                            }
                            <partial name="_DeleteDiaolgPartial" model="new DeletePartialVM { Id = item.Id, ActionName = actionName, ControllerName = controllerName};" />
                        </td>

                    </tr>
                }
            </table>
        </div>
        <div class="card-footer">
            <div class="p-2">
                <a class="btn d-block btn-sm btn-outline-info" asp-controller="Categories" asp-action="AddCategory" asp-area="Admin">Yeni Kategori Ekle</a>
            </div>
        </div>
    </div>
</div>